Repository waj1994/blogs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint lint --fix --no-error-on-unmatched-pattern

feat(package): name
  README.md
  package-lock.json
  package.json
Due: prettier --cache --write

feat(seo): seo优化
  .env
  src/app/blog/[slug]/page.tsx
  src/app/layout.tsx
  src/components/Footer/index.tsx
  src/docs/about.md
  src/docs/cache.md
  src/docs/proxy.md
Due: prettier --cache --write

feat(title): 修改主页标题
  src/app/layout.tsx
Due: none

feat(title): 修改title
  src/app/layout.tsx
Due: none

feat(theme): 子路由隐藏修改主题按钮
  src/components/Header/index.tsx
  src/docs-list.json
Due: prettier --cache --write

feat(vercel): add speedInsights
  .prettierignore
  .prettierrc.mjs
  package-lock.json
  package.json
  src/components/BaseHead.astro
  src/components/Header.astro
  vercel.json
Due: prettier --cache --write

feat(html): 文章标题使用h2
  src/components/BlogPost.astro
  src/styles/markdown.css
Due: prettier --cache --write

feat(vercel): add web analytics
  .gitignore
  astro.config.mjs
  package-lock.json
  package.json
  src/pages/[...slug].astro
Due: prettier --cache --write

feat(list): 自适应宽度调整
  src/components/ArticleList.astro
Due: none

feat(markdown): css更新
  src/styles/markdown.css
Due: prettier --cache --write

feat(markdown): 修复媒体查询错误
  package.json
  src/styles/markdown.css
Due: prettier --cache --write

feat(vercel): 移除web analytics
  astro.config.mjs
  package-lock.json
  package.json
Due: prettier --cache --write

feat(giscus): 添加giscus评论
  astro.config.mjs
  package-lock.json
  package.json
  src/components/BlogPost.astro
  src/components/Header.astro
Due: prettier --cache --write

feat(theme): 完善theme改变
  src/components/BlogPost.astro
  src/components/Header.astro
Due: none

feat(config): 修改title及logo等
  src/components/BlogPost.astro
  src/components/Header.astro
  src/consts.ts
  src/icons/logo.svg
  src/icons/react.svg
  src/pages/index.astro
Due: none

feat(algolia): 搜索功能
  astro.config.mjs
  package-lock.json
  package.json
  src/components/BaseFooter.astro
  src/components/BaseHead.astro
  src/components/BlogPost.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/pages/index.astro
  src/styles/global.css
Due: prettier --cache --write

feat(style): 样式修改
  src/components/ArticleList.astro
  src/components/Header.astro
  src/styles/global.css
  src/styles/markdown.css
Due: prettier --cache --write

feat(about): 关于我更新
  src/content/blog/about.mdx
  src/styles/markdown.css
Due: prettier --cache --write

feat(robots): 动态生成robots
  algolia-push.js
  package-lock.json
  package.json
  public/robots.txt
  src/components/BaseHead.astro
  src/pages/robots.txt.ts
Due: prettier --cache --write, eslint lint --fix --no-error-on-unmatched-pattern

feat(文章): 新增文章
  src/content/blog/js.md
  src/styles/markdown.css
Due: prettier --cache --write

feat(百度统计): 更新code
  src/components/BaseFooter.astro
Due: none

feat(目录): 增加目录
  src/components/BlogPost.astro
  src/components/Catalog.astro
  src/components/Menu.astro
  src/pages/[...slug].astro
Due: none

feat(article): add
  docs/.vitepress/config.mts
  docs/http/cache.md
  docs/http/proxy.md
  docs/index.md
  docs/js/gc.md
  docs/js/localstorage.md
  docs/js/rollup.md
  docs/js/write.md
  docs/other/git.md
  docs/other/utils.md
Due: prettier --cache --write

feat(article): update
  docs/index.md
  index-now.js
Due: prettier --cache --write, eslint lint --fix --no-error-on-unmatched-pattern

feat(git hooks): remove post-commit
  .husky/post-commit
Due: none

feat(article): update
  docs/index.md
Due: prettier --cache --write

feat(search): algolia
  docs/.vitepress/config.mts
Due: none

feat(article): 标题级别修改
  docs/http/cache.md
  docs/http/proxy.md
  docs/js/gc.md
  docs/js/rollup.md
  docs/js/write.md
  docs/other/git.md
  docs/other/utils.md
Due: prettier --cache --write

feat(config): mpa
  docs/.vitepress/config.mts
Due: none

feat(config): remove map
  docs/.vitepress/config.mts
Due: none

feat(layout): 改版
  docs/.vitepress/config.mts
  docs/.vitepress/plugins/createSidebar.mts
  docs/about/index.md
  docs/blog/cache.md
  docs/blog/gc.md
  docs/blog/git.md
  docs/blog/localstorage.md
  docs/blog/proxy.md
  docs/blog/rollup.md
  docs/blog/utils.md
  docs/blog/write.md
  docs/index.md
  docs/public/favicon.ico
  docs/public/logo.svg
  package-lock.json
Due: prettier --cache --write

feat(seo): google
  docs/.vitepress/config.mts
  docs/public/image/js.jpg
Due: none

feat(article): add
  docs/blog/nuxtjs-error.md
  docs/blog/ocr.md
Due: prettier --cache --write

feat(config): 修改域名
  docs/.vitepress/config.mts
  docs/public/robots.txt
  nginx.conf
Due: none

feat(seo): 各收录网站验证
  docs/.vitepress/config.mts
Due: none

feat(seo): 谷歌收录验证修改
  docs/.vitepress/config.mts
Due: none

feat(algolia): 修改搜索配置
  docs/.vitepress/config.mts
Due: none

feat(seo): 必应indexNow文件修改
  docs/.vitepress/config.mts
  docs/public/4c4d9bc5972846db81278b68848e416c.txt
  docs/public/5c51b61b6f3a486d979f7dc79111248d.txt
Due: none

feat(config): update
  docs/.vitepress/config.mts
Due: none

Path conditions:
  prettier --cache --write: ((any of: *.{md,json}) or (any of: *.{js,jsx})) or (any of: *.{css,less})
  eslint lint --fix --no-error-on-unmatched-pattern: any of: *.{js,jsx}
